
/*innlcude urban alleyway pictures as background with red light?*/
/*https://pixabay.com/en/businessman-heels-isolated-jumping-3138729/*/
body{
        padding-top: 70px;
		background-color: #0B0C10;
		font-family: 'Krona One', sans-serif;
		/*background-image: url('../images/background_alley.jpg');
*/
}
h1{
	color: #66FCF1;
	font-style: bold;
}
h2 {
	color: #45A29E;
}
p {
	font-size: 18px;
	padding: 10px;
	color: #C5C6C7;
}
.btn-primary {
	font-size: 18px;
	background-color: #66FCF1;
}
.flexContainer{
	flex-flow: row wrap;
	justify-content: space-around;
	padding-left: 30px;
	padding-right: 30px;
}

/*Nav bar*/

.navbar {
	background-color: #1F2833;
}

/*Home page*/

iframe {
	width: 400;
	height: 150;
	}

/*Training*/

.trainingList {
	list-style-type: none;
	padding: 0px;
}

.trainingDays > div {
	padding: 20px;
}

img{
	padding: 10px;
}

/*Support page*/

.fa {
	padding: 20px;
	font-size: 100px;
}
form {
	padding: 30px;
}

