body{
        padding-top: 70px;
		background-color: yellow;
}
.flexContainer{
	flex-flow: row wrap;
	justify-content: space-around;
	padding-left: 30px;
	padding-right: 30px;
}

/*Home page*/

iframe {
	width: 400;
	height: 150;
	}

.continuebtn {
	padding: 100px;
}


