<div class="racing">
	<h2>Races</h2>
	<p>Want a goal to go with your new hobbie? We regularly send a cohort to these races below. We've included a guide to how many sessions we think you should attend a week to be ready. This is strictly optional though!</p>
	<table class="table">
		<thead>
			<th>Race name</th>
			<th>How far?</th>
			<th>What shoes?</th>
			<th>Recommended weekload</th>
			<th>Link</th>
		</thead>
		<tbody>
			<tr>
				<td>Parliament Hill XC</td>
				<td>9 miles</td>
				<td>XC spikes</td>
				<td>5</td>
				<td><a href="https://www.race-results.co.uk/results/2018/natxc18e.php"> Sign up here</a></td>
			</tr>
			<tr>
				<td>London 10k</td>
				<td>10k</td>
				<td>Road shoes</td>
				<td>5</td>
				<td><a href="https://www.race-results.co.uk/results/2018/natxc18e.php"> Sign up here</a></td>
			</tr>			
		</tbody>		
	</table>
	<a class="btn btn-primary btn-lg btn-block active" href="/milestoneproject1/schedule">Continue</a>
</div>