<div class="trainingDays">
	<h1>When would you like to train?</h1>
	<div>
		<h2>Monday - Hyde and Seek</h2>
		<div>
			<img height="200px" width="300px" src="../images/sniper-ghillie-suit-camo.jpg">
			<p>Meet at Hyde Park Corner 7:30pm for Hyde and seek. Oh and if it is your first time, you're hiding. When you're found, run away!! Guaranteed to get you running faster than you have ever run before. 
			</p>
		</div>
		<a class="btn btn-secondary" href="/training">Yes please</a>
	</div>
	<div>
		<h2>Tuesday - Down Hill Racing</h2>
		<img height="200px" width="300px" src="../images/downhillrunning.jpg">
		<p>Meet at Parliament hill at 6:30pm. Hills are hard. really hard. So why struggle up when you can run down? Research has shown that runnning down hil increases your speed and coordination. Fun speedy session.
		</p>
		<a class="btn btn-secondary" href="/training">Yes please</a>
	</div>
	<div>
		<h2>Wednesday - Race the tube</h2>
		<img height="200px" width="300px" src="../images/racetube.jpg">
		<p>Every week we will choose a few pair of tube stops to race against. Agility, nerve and lightning speed required for this session. Keep your eye on the whatsapp group for details of where to meet.
		</p>
		<a class="btn btn-secondary" href="/training">Yes please</a>
	</div>
	<div>
		<h2>Thursday - Capture the flag</h2>
		<img height="200px" width="300px" src="../images/captureflag.png">
		<h3>Meet at Green Park for 7:30pm. </h3>
		<h4>Rules:</h4>
		<ol>
			<li>Two teams, the So's and the Ho's, at opposite ends of the park
			<li>Teams have to attack the other's base to capture the flag</li>
			<li>Tag a member of the other team? They freeze</li>
			<li>Free a member of your own team by tagging them</li>
		</ol>
		<a class="btn btn-secondary" href="/training">Yes please</a>
	</div>
	<div>
		<h2>Friday - John Snow Mile</h2>
		<img height="200px" width="300px" src="../images/pint.jpg">
		<p>4 pints, 1 mile, please drink responsibly.
		</p>
		<a class="btn btn-secondary" href="/training">Yes please</a>
	</div>
	<a class="btn btn-primary btn-lg btn-block active" href="/racing">Continue</a>
</div>